@use './scss/_reset';
@use './scss/_base';
@import "compass-mixins/lib/compass";

section{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 117px;
  height: 117px;
  margin: -85px auto 0;
}
article{
  position: relative;
  width: 117px;
  height: 117px;
  transition: all 0.3s cubic-bezier(0.075, 0.45, 0.165, 1);

  &:hover{
    background: black;
    .bot{
      @include rotateX(65deg,700px);
      .shadows {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include background-image(linear-gradient(to top, rgba(0,0,0,0.15), rgba(0,0,0,0)));
        opacity: 1;
      }
    }

  }

  div{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;
    overflow: hidden;

  }
  .bot{
    bottom: 0;
    top: 50%;

    @include transform-origin(50%, 0);
    @include rotateX(0deg,700px);
    @include transition(all 0.5s cubic-bezier(0.075, 0.45, 0.165, 1));
    .shadows {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      @include background-image(linear-gradient(to top, rgba(0,0,0,0.15), rgba(0,0,0,0)));
      opacity: 0;
    }


    img{
      margin-top: -50%;
    }
  }
}
